body{
    background-image: url(https://images.pexels.com/photos/15260402/pexels-photo-15260402/free-photo-of-blue-swirls-on-a-dark-background.jpeg?auto=compress&cs=tinysrgb&w=600);
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}
.wrapper {
  display: flex;
  flex-direction: row;
  height: 100%; 
  padding: 20px;
  gap: 20px;
  box-sizing: border-box;
  justify-content: center;
  align-items: stretch;     
}

.form-container, .data-container {
  flex: 1;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
input[type="text"], input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form p {
  margin-bottom: 15px; 
}

.error{
  color: red;
    font-size: 12px;
}
#snackbar {
  visibility: hidden;
  min-width: 250px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar.success {
  background-color: green;
  color: white;
}
#snackbar.error {
  background-color: red;
  color: white;
}

.table-responsive {
  width: 100%;
  overflow-x: auto; 
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
}

table th, table td {
  padding: 10px;
  text-align: left;
  border: 3px solid #ddd;
}

table th {
  background-color: #ccc;
  color: white;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}


@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    height: auto;
    justify-content: center; 
    align-items: center;
  }

  .form-container, .data-container {
    width: 100%;
    max-width: 500px;  
    margin-bottom: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  button {
    width: 100%;
  }

  input[type="text"], input[type="password"] {
    padding: 8px;
    border: 1px solid #ccc;
  }

  h1, h2 {
    font-size: 24px;
  }

  table th, table td {
    font-size: 14px;
    border: 3px solid #ddd;
  }
  table th {
    background-color: #ccc;
    color: white;
  }
}

@media (max-width: 480px) {
  .wrapper {
    padding: 10px;
    gap: 5px;
    justify-content: center; 
    align-items: center;
  }

  .form-container, .data-container {
    padding: 10px;
    max-width: 100%;
  }

  input[type="text"], input[type="password"] {
    padding: 6px;
  }

  h1, h2 {
    font-size: 18px;
  }
  .table-responsive {
    overflow-x: auto; 
  }

  table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
  }

  table th, table td {
    font-size: 12px;
    padding: 6px;
    border: 3px solid #ddd;
  }
  table th {
    background-color: #ccc;
    color: white;
  }

  button {
    padding: 10px;
  }
}

